.pushmenu { position: fixed; left: 255px; }
.navbar .ml-auto li{ margin: 0 6px;}
.layout-fixed .main-sidebar {
   position: fixed;
   float: none;
   top: unset;
   bottom: unset; 
   left: 0;
}

fieldset {
   border: 1px dashed skyblue !important;
   border-radius: 0.50rem;
   padding: 0 1em 1em 1em !important;
   margin: 0 0 1.5em 0 !important;
   -webkit-box-shadow:  0px 0px 0px 0px #000;
   box-shadow:  0px 0px 2px 0px #000;
}

legend { 
   width:inherit;
   font-size: 1em !important;
   font-weight: bold !important;
   text-align: center;
   border: 1px solid pink; 
   background-color: whitesmoke;
   border-radius: 12px;   
   padding: 0px 10px; 
   margin-bottom:10px;
}

/*Datatable*/

   table.dataTable tbody tr { background-color: transparent; }

   .dataTables_wrapper .dataTables_length, 
   .dataTables_filter, 
   .dataTables_info, 
   .dataTables_paginate {
      background-color: honeydew; border-radius: 2px;
   }

   .dataTables_wrapper .dataTables_filter, 
   .dataTables_wrapper .dataTables_paginate{ 
      float: none; 
   }

/*Top*/

   .dataTables_wrapper .dataTables_length label, 
   .dataTables_wrapper .dataTables_filter label{ 
      padding: 0.175rem 0.5rem; 
      margin-bottom: 0rem; 
   }

   .dataTables_wrapper .dataTables_filter { 
      margin-bottom: 0.20rem; 
   }

/*Buttom*/

   .dataTables_wrapper .dataTables_info { padding: 0.5rem; }
   .dataTables_wrapper .dataTables_paginate { padding: 0.25em; }
   .dataTables_wrapper .dataTables_paginate, 
   .dataTables_wrapper .dataTables_info { margin-top: 0.20rem; }

   .dataTables_wrapper .dataTables_paginate .paginate_button { 
      min-width: 1.5em; 
      padding: 0.2em 0.6em; 
      margin-left: 2px; 
   }

   .table td { vertical-align: middle; }
   .table td, .table th { border: 1px dashed #dee2e6 !important; }

   table.dataTable thead th, 
   table.dataTable thead td { 
      /*background-color: lightgray;*/
      background-color: #17a2b8;
      color: #fff;
   }

   .table td, .table th, 
   .card .table td, 
   .card .table th, 
   .card .dataTable td, 
   .card .dataTable th {
       padding: 5px;
       vertical-align: middle;
       text-align: center;
   }

/*Datatable hide*/
   .dataTableHide .dataTables_wrapper .dataTables_length, 
   .dataTableHide .dataTables_wrapper .dataTables_filter,
   .dataTableHide .dataTables_wrapper .dataTables_info, 
   .dataTableHide .dataTables_wrapper .dataTables_processing,
   .dataTableHide .dataTables_wrapper .dataTables_paginate{ display: none; }

/*Model Form*/
   .modal-content{ background-color: #cff5ea; }
   .modal-header { padding: 0.5rem; background-color: aquamarine; }
   .modal-body { padding: 0.3rem 1rem 0rem; }
   .modal-footer { padding: 0rem; margin-bottom: 5px;}
   .close span{ 
      color: red; 
      border: 1px dashed red;
      padding: 0px 6px;
   }
   .close span:hover{ 
      background-color: red; 
      color: #fff;
   }

/*Font Awesome*/
.iconList i{
   font-size: 2.5rem;
}
.leftside i{
   font-size: 1.6rem;
   float: left;
   width: 2.5rem;
}

/*Alert message*/
   .alert { 
      margin-top: 0px; 
      position: absolute; 
      right: 0px; 
      z-index: 1; 
      color: #000;
   }
   .alert .close{
      color: #000 !important; 
      margin: 0 -8px 0px 10px;
      line-height: 20px; 
   }
   .alert .close:hover{ 
      color: black;
   }

   button:focus {
       outline: unset !important;
   }
.capitalize{ text-transform: capitalize; }
.justify{text-align: justify !important;}
.left{text-align: left !important;}
.right{text-align: right !important;}
.alert:first-letter{text-transform: uppercase !important;}
.form-group { margin-bottom: 0.5rem; }
.hide{ display: none; }

.dropdown-menu{ min-width: 4rem; background-color: thistle; }
